@model IEnumerable<OnlineMagazin.Models.About>
@{
    ViewData["Title"] = "О нас";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-menu">
                    <li><a href="~/Home/HomeIndex/">Главная</a></li>
                    <li class="active"><a href="#">О нас</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="f-title text-center">
                        <h3 class="title text-uppercase">О нас</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="about-page-cntent">
                        @foreach (var item in Model)
                        {
                            @Html.Raw(item.MetinIcerik) 
                        }
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="img-element">
                        @foreach (var item in Model) {
                            <img alt="Наш строительный рынок Вектор строй маркет pskanker.ru" src="~/image/@item.Resim" loading="lazy">
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="f-title text-center">
                        <h3 class="title text-uppercase">Наши места</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="item-team text-center">
                        <div class="team-info">
                            <div class="team-img">
                                <img alt="Прямо с завода" class="img-responsive" src="~/generalroot/img/завод.jpg" loading="lazy">
                                <div class="mask">
                                    <div class="mask-inner">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Завод</h4>
                        <h5>Доставка из нашего завода</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="item-team text-center">
                        <div class="team-info">
                            <div class="team-img">
                                <img alt="Строительные материалы с завода" class="img-responsive" src="~/generalroot/img/завод2.jpg" loading="lazy">
                                <div class="mask">
                                    <div class="mask-inner">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Завод</h4>
                        <h5>Самовывоз из завода</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="item-team text-center">
                        <div class="team-info">
                            <div class="team-img">
                                <img alt="Со склада" class="img-responsive" src="~/generalroot/img/склад.jpg" loading="lazy">
                                <div class="mask">
                                    <div class="mask-inner">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Склад</h4>
                        <h5>Наш склад материалов</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="item-team text-center">
                        <div class="team-info">
                            <div class="team-img">
                                <img alt="Склад сухих смесей" class="img-responsive" src="~/generalroot/img/склад2.jpg" loading="lazy">
                                <div class="mask">
                                    <div class="mask-inner">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Склад</h4>
                        <h5>Наш склад сухих смесей</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
