@model OnlineMagazinUser
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using OnlineMagazin.Areas.Identity.Data
@inject UserManager<OnlineMagazinUser> UserManager
@{
    ViewData["Title"] = "Изменение профиля";
    ViewData["keywords"] = "Персональные данные, Дополнительная информация";
    ViewData["Descption"] = "Здесь можно изменить свои данные";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-menu">
                    <li><a href="/Home/HomeIndex">Главная</a></li>
                    <li class="active"><a href="/Home/Account">Мой аккаунт</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @await Component.InvokeAsync("CategoryList")
            </div>
            <div class="col-md-9">
                <div class="entry-header-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="entry-header">
                                <h3 class="entry-title">Мой Аккаунт</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel_default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-trigger"  >Мои данные <i class="fa fa-caret-down"></i> </a>
                                        </h4>
                                    </div>
                                    <div id="payment-address" >
                                        <form asp-action="AccountEdit"  method="post" enctype="multipart/form-data">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-12">
                                                        <fieldset id="account">
                                                            <legend>Ваши персональные данные</legend>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>ФИО</label>
                                                                <input asp-for="FirstAndLastName" placeholder="Фамилия Имя и Отчество" class="form-control" />
                                                                <span asp-validation-for="FirstAndLastName" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Email почта</label>
                                                                <input asp-for="Email" placeholder="Введите email" class="form-control" />
                                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Телефон</label>
                                                                <input asp-for="PhoneNumber" placeholder="+996 000 000 000" class="form-control" />
                                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset>
                                                            <legend>Дополнительная информация</legend>
                                                            <textarea asp-for="Description" rows="6" class="form-control"></textarea>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12">
                                                        <fieldset id="address">
                                                            <legend>Ваш адрес</legend>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Адрес</label>
                                                                <textarea asp-for="Address" placeholder="Введите адрес" class="form-control"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Адрес 2</label>
                                                                <textarea asp-for="Address2" placeholder="Введите второй адрес" class="form-control"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Дата рождения</label>
                                                                <input asp-for="BirthDate" type="date"  class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Область</label>
                                                                <select placeholder="Выберите область" asp-for="Region" class="form-control form-control-lg">
                                                                    <option value="Не выбрано">---Выберите область---</option>
                                                                    <option value="Московская область">Московская область</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Город</label>
                                                                <input asp-for="City" placeholder="Введите город" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="ResimFile" class="control-label"></label>
                                                                <input asp-for="ResimFile" accept="image/*" />
                                                                <span asp-validation-for="ResimFile" class="text-danger"></span>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="newsletter" checked />
                                                                Я хочу подписаться на этот интернет магазин.
                                                            </label>
                                                        </div>
                                                        <div class="buttons clearfix">
                                                            <div class="pull-right">
                                                                Я прочитал и согласен с
                                                                <a href="#"><b>Политикой конфиденциальности</b></a>
                                                                <input type="checkbox" name="agree" checked />
                                                                <input type="submit" class="btn btn-primary" value="Сохранить" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-account-area">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>