@model OnlineMagazin.Models.Uye
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-menu">
                    <li><a href="/Home/homeIndex">Главная</a></li>
                    <li class="active"><a href="/Home/Account">Мой аккаунт</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- CATEGORY-MENU-LIST START -->
                @await Component.InvokeAsync("CategoryList")
                <!-- END CATEGORY-MENU-LIST -->
            </div>
            <div class="col-md-9">
                <!-- entry-header-area start -->
                <div class="entry-header-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="entry-header">
                                <h3 class="entry-title">Мой Аккаунт</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- entry-header-area end -->
                <!-- Start checkout-area -->
                <div class="checkout-area">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Accordion start -->
                            <div class="panel-group" id="accordion">
                                <!-- Start My-First-Address -->
                                <div class="panel panel_default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-trigger"  >Мои данные <i class="fa fa-caret-down"></i> </a>
                                        </h4>
                                    </div>
                                    <div id="payment-address" >
                                        <form asp-action="AccountEdit" enctype="multipart/form-data">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <input type="hidden" asp-for="UyeId" />
                                                    <div class="col-md-6 col-xs-12">
                                                        <fieldset id="account">
                                                            <legend>Your Personal Details</legend>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>ФИО</label>
                                                                <input asp-for="AdSoyad" placeholder="Фамилия Имя и Отчество" class="form-control" />
                                                                <span asp-validation-for="AdSoyad" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Логин</label>
                                                                <input asp-for="KullaniciAdi" placeholder="Введите логин" class="form-control" />
                                                                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Пароль</label>
                                                                <input asp-for="Sifre" placeholder="Введите логин" class="form-control" />
                                                                <span asp-validation-for="Sifre" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Пароль</label>
                                                                <input asp-for="ConfirmPassword" placeholder="Введите логин" class="form-control" />
                                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Email почта</label>
                                                                <input asp-for="Email" placeholder="Введите email" class="form-control" />
                                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Телефон</label>
                                                                <input asp-for="PhoneNumber" placeholder="+996 000 000 000" class="form-control" />
                                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset>
                                                            <legend>Дополнительная информация</legend>
                                                            <textarea asp-for="Description" rows="6" class="form-control"></textarea>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6 col-xs-12">
                                                        <fieldset id="address">
                                                            <legend>Your Address</legend>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Address 1</label>
                                                                <textarea asp-for="Address" placeholder="Введите адрес" class="form-control"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Address 2</label>
                                                                <textarea asp-for="Address2" placeholder="Введите второй адрес" class="form-control"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Дата рождения</label>
                                                                <input asp-for="BirthDate" type="date"  class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Область</label>
                                                                <select placeholder="Выберите категорию" asp-for="Region" class="form-control form-control-lg">
                                                                    <option value="Не выбрано">---Выберите область---</option>
                                                                    <option value="Чуйская область">Чуйская область</option>
                                                                    <option value="Жалал-Абадская область">Жалал-Абадская область</option>
                                                                    <option value="Таласская область">Таласская область</option>
                                                                    <option value="Ошская область">Ошская область</option>
                                                                    <option value="Иссык-Кульская область">Иссык-Кульская область</option>
                                                                    <option value="Баткенская область">Баткенская область</option>
                                                                    <option value="Нарынская область">Нарынская область</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label><sup>*</sup>Город</label>
                                                                <input asp-for="City" placeholder="Введите город" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="ResimFile" class="control-label"></label>
                                                                <input asp-for="ResimFile" accept="image/*" />
                                                                <span asp-validation-for="ResimFile" class="text-danger"></span>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="newsletter" checked />
                                                                Я хочу подписаться на этот интернет магазин.
                                                            </label>
                                                        </div>
                                                        <div class="buttons clearfix">
                                                            <div class="pull-right">
                                                                Я прочитал и согласен с
                                                                <a href="#"><b>Политикой конфиденциальности</b></a>
                                                                <input type="checkbox" name="agree" checked />
                                                                <input type="submit" class="btn btn-primary" value="Сохранить" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion end -->
                        </div>
                    </div>
                </div>
                <!-- End Shopping-Cart -->
                <!-- My-Account-Area start -->
                <div class="my-account-area">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
                <!-- My-Account-Area end -->
            </div>
        </div>
    </div>
    <!-- START BRAND-LOGO-AREA -->
    <!-- END BRAND-LOGO-AREA -->
    <!-- START SUBSCRIBE-AREA -->
    <!-- END SUBSCRIBE-AREA -->
</section>