
@{
    ViewData["Title"] = "Сброс пароля";
    ViewData["Descption"] = "Сброс Вашего пароля";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h1 style="text-align: center;">Мы отправили вам на почту ссылку для сброса пароля</h1>

<p style="text-align: center;">Для сброса пароля перейдите в email почту</p>

