@{
    ViewData["Title"] = "Оплата";
    ViewData["Descption"] = "Способы и условия оплаты 1.) Наличный расчет 2.) Оплата банковской картой Visa, MasterCard, Mir. 3.) Безналичный расчет для физических лиц 4.) Безналичный расчет для юридических лиц";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-menu">
                    <li><a href="~/Home/HomeIndex/">Главная</a></li>
                    <li class="active"><a href="#">Оплата</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Start About-Area -->
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="f-title text-center">
                        <h3 class="title text-uppercase">Оплата</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 style="text-align: center;">Способы и условия оплаты</h2>
                <p>Мы&nbsp;позаботились о&nbsp;том, чтобы оплата покупки была доступна в&nbsp;той форме, которую предпочитаете лично вы.<br />Независимо от&nbsp;выбранной формы оплаты, расчет производится только рублях.</p>
                <h3><strong>1.) Наличный расчет</strong></h3>
                <p>Оплатить заказ наличным возможно:</p><br/>
                <img alt="Система быстрых платежей" src="/generalroot/img/sbp.png">
                <p>Через СБП (Система быстрых платежей) <br/> Система быстрых платежей - сервис платежной системы Банка России, позволяющий 
                    физическим лицам производить оплату за товар/услуги с помощью любого банка-участника СБП. Список банков-участников 
                    опубликован на официальном сайте <a class="service-link" href="https://sbp.nspk.ru/participants/" target="_blank">https://sbp.nspk.ru/participants/</a><br/></p>
                    <br/>
                    <img alt="Сбербанк" src="/generalroot/img/Sber.png">
                   <img alt="Тинькофф" src="/generalroot/img/tinkoff.png">
                    <p>Через онлайн-приложение Сбербанка и Тинькофф</p>

                <h3><strong>2.) Оплата банковской картой Visa, MasterCard, Mir.</strong></h3>
                <p>Оплатить заказ с помощью банковской карты, вы сможете:<br /><br /><a href="#"><img src="~/generalroot/img/payment.png" alt="Payment">  <img src="~/generalroot/img/mir.png" alt="Mir"></a><br /> 
                    При заказе на нашем сайте, для этого необходимо при оформлении заказа выбрать способ оплаты "картой", после оформления 
                    заказа менеджер компании свяжется с вами для подтверждения заказа, после подтверждения заказа в личном кабинете появится кнопка
                    "оплатить" . Нажмите оплатить и введите свои данные карты. При успешной оплаты средства автоматически зачислятся на
                    наш счет. Сумма оплаты пропишется в заказе в виде "Оплачено ххх рублей"</p>
                <p>Данная услуга предоставляется PayBox.money&nbsp;</p>
                <p>Мы принимаем онлайн-платежи по следующим платежным системам:<br />Visa, MasterCard, Мир</p>
                <p>На некоторые товары взимается дополнительная комиссия в размере 3%</p>
                <p>В случае, если Вы оплатили заказ банковской карточкой и затем отказались от него, возврат переведенных 
                    средств производится на Ваш банковский (карточный) счет в полном объеме в течении 14 рабочих дней.</p>
                <p>Операция оплаты банковской картой онлайн полностью конфиденциальна и&nbsp;безопасна. 
                    Ваши персональные данные и&nbsp;реквизиты карточки будут введены не&nbsp;на&nbsp;странице нашего онлайн-маркета, 
                    а&nbsp;на&nbsp;авторизационной странице платежной системы. Доступ к&nbsp;ним осуществляется по&nbsp;протоколу безопасной 
                    передачи данных&nbsp;(SSL), а&nbsp;для осуществления аутентификации держателя карточки используются методы Verified by&nbsp;Visa&nbsp;</p>
                    <a href="#"><i class="fa fa-cc-visa"></i></a><a href="#"><i class="fa fa-cc-mastercard"></i></a><a href="#"><i class="fa fa-cc-paypal"></i></a><a href="#"><i class="fa fa-credit-card"></i></a>
                <h3><strong>3.) Безналичный расчет для физических лиц</strong></h3>
                <p>Оплатить безналичным расчетам возможно с отделения любого банка по счету выставленному менеджером нашего интернет
                    магазина на ФИО покупателя.<br />(Отгрузка совершается через день после поступления денежных средства, 
                    если иное не предусмотрено сроками поставки, о чем покупатель должен быть уведомлен.)</p>
                <h3><strong>4.) Безналичный расчет для юридических лиц</strong></h3>
                <p>При покупке товара юридическими лицами:<br /><br />1. Менеджер выставляет счет согласно присланного покупателем заказа.&nbsp;<br />2. На следующий день, после поступления денежных средств, товар подлежит выдаче, в случае самовывоза (если иные сроки не оговорены с покупателем заранее)<br />3. На следующий день, после поступления денежных средств, товар подлежит доставке по адресу, указанному покупателем.(если иные сроки не оговорены с покупателем заранее).<br /><br /></p>
                <h3><strong>Другие условия:</strong></h3>
                <ul>
                    <li class="clear"><strong>После оформления заказа формируется заказ покупателя, который вы можете оплатить любым вышеперечисленным, удобным для вас способом.</strong></li>
                    <li class="clear"><strong>В случае если товар закончился на складе, возврат денежных средств производится наличными с предъявлением паспорта человека на которого был оформлен заказ, равной сумме поступления на счет (при безналичном расчете без учета коммисии) или в кассу компании.</strong></li>
                    <li class="clear"><strong>В связи с тем, что обновление сайта происходит не мгновенно, цены могут быть отличаться от фактических цен по которым мы можем вам продать, окончательное подтверждение цены осуществляется менеджером при подтверждении заказа.</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End About-Area -->
    <!-- Start Our-Team -->

</section>
