
@{
    ViewData["Title"] = "Подтвердите свой email";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h1 style="text-align: center;">Мы отправили Вам на почту ссылку для подтверждения</h1>

<p style="text-align: center;">Для завершения регистрации подтвердите свой email перейдя в почту</p>

<p style="text-align: center;">Если сообщение Вам не пришло проверьте спам!</p>