
@{
    ViewData["Title"] = "Сброшен";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h1 style="text-align: center;">Ваш пароль успешно сброшен.</h1>

<p style="text-align: center;">Для входа в свою почту перейдите по ссылке <a id="login" asp-area="Identity" asp-page="/Account/Login" > Войти</a></></p>

