@{
    ViewData["Title"] = "Отписаться";
    ViewData["Descption"] = "А не надо было отписываеться ведь мы Вам отправляли ценные письма";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<h1 style="text-align: center;">Нам очень жаль, что наше письмо Вам не понравилось.</h1>

<p style="text-align: center;">
    Мы очень стараемся не закидывать Вас бесполезной рассылкой, а только информировать о самых интересных новостях нашего магазина.<br>Если Вы передумаете, напишите нам и мы снова включим Вас в рассылку.
    Прекрасного дня!</p>
<div style="text-align: center;">
    <h3>Чтобы обратно подписаться прокрутить вниз введите почту и подпишитесь.</h3>
    <img src="~/generalroot/img/strelka.gif" />
</div>