@model OnlineMagazin.Models.Category

@{
    ViewData["Title"] = "Категория";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div style="margin-left:1%">
    <br />
    <h5 style="margin-left:40%">Детали категория</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriName)
        </dd>
    </dl>
</div>
<div style="margin-left:1%">
    <a asp-action="Edit" class="btn btn-outline-dark mb-3" asp-route-id="@Model.CategoryId">Изменить</a> |
    <a class="btn btn-outline-secondary mb-3" asp-action="Index"><i class="ti-arrow-left">  Вернуться в список</i></a>
</div> 
