@model IEnumerable<OnlineMagazin.Models.Sliders>
<div class="sidebar-banner hidden-sm hidden-xs">
    <div class="active-sidebar-banner">
        @foreach (var item in Model)
        {
        <div class="single-sidebar-banner">
                <img src="~/image/@item.SliderResim" asp-append-version="true" alt="@item.SliderName" title="#@item.SliderId" loading="lazy">
        </div>
        }
    </div>
</div>