@model IEnumerable<OnlineMagazin.Models.Carts>
@using Microsoft.AspNetCore.Http
<div class="top-cart">
    <ul>
        <li>
            <a href="/Home/Cart">
                <span class="cart-icon"><i class="fa fa-shopping-cart"></i></span>
                <span class="cart-total">
                    <span class="cart-title">Корзина</span>
                    <span class="cart-item">@ViewBag.CountProduct Товар(ы)- </span>
                    <span class="top-cart-price">₽@ViewBag.FinalPrice</span>
                </span>
            </a>

            <div class="mini-cart-content">
                @if(ViewBag.cart!=null)
                {
                @foreach (var item in ViewBag.cart)
                {
                    <div class="cart-img-details">
                        <div class="cart-img-photo">
                            <a href="#"><img src="~/image/@item.Products.Foto" alt="#" loading="lazy"></a>
                        </div>
                        <div class="cart-img-content">
                            <a href="#"><h4>@item.Products.Baslik</h4></a>
                            <span>
                                <strong class="text-right">@item.qty X </strong>
                                <strong class="cart-price text-right">₽@item.Products.Price</strong>
                            </span>
                        </div>
                        <div class="pro-del">
                            <a href="javascript:DeleteProductFromCart(@item.Products.ProductId);"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                }
                }
                <div class="cart-inner-bottom">
                    <span class="total">
                        Всего:
                        <span class="amount">₽@ViewBag.FinalPrice</span>
                    </span>
                    <span class="cart-button-top">
                        <a href="/Home/Cart">Корзина</a>
                        @{
                            if (ViewBag.FinalPrice != 0 && ViewBag.FinalPrice!=null)
                            {
                                <a href="/Home/OrderCreate/">Купить</a>
                            }
                            else
                            {
                                <a href="/Home/Cart/">Проверить</a>
                            }
                        }
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>

<script type='text/javascript'>
    function DeleteProductFromCart(id) {
        $.post("/Home/DeleteCart/" + id + "", function (data) {
            $.get("/Home/GetMyViewComponent", function (data) {
                $("#followersrefresh").html(data);
            });
            return false;
        });
    }
</script>
