@model IEnumerable<OnlineMagazin.Models.Products>
<div class="product-area">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="product-menu">
                <div class="product-title">
                    <h3 class="title-group-2 gfont-1">Cопутствующие товары</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="product carosel-navigation">
        <div class="row">
            <div class="active-product-carosel">
                @foreach (var item in Model)
                {
                    <div class="col-xs-12">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="#">
                                    <img class="primary-img" src="~/image/@item.Foto" alt="Product">
                                </a>
                            </div>
                            <div class="product-description">
                                <h5><a href="#">@item.Baslik</a></h5>
                                <div class="price-box">
                                    <span class="price">@item.Price KGS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>