@model IEnumerable<OnlineMagazin.Models.Products>
<div class="small-product-area carosel-navigation hidden-sm hidden-xs">
    <div class="row">
        <div class="col-md-12">
            <div class="area-title">
                <h3 class="title-group gfont-1">Бестселлер</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="active-bestseller sidebar">
           
            <div class="col-xs-12">
                @foreach (var item in Model)
                {
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img class="primary-img" width="100" height="100" src="~/image/@item.Foto" alt="Bestseller Products">
                            </a>
                        </div>
                        <div class="product-description">
                            <h5><a href="#">@item.Baslik</a></h5>
                            <div class="price-box">
                                <span class="price">$@item.Price</span>
                                <span class="old-price">$@item.Price</span>
                            </div>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </div>
                }
                    <!-- End Single-Product -->
                    <!-- Start Single-Product -->
                </div>

        </div>
    </div>
</div>