@model IEnumerable<OnlineMagazin.Models.Category>
<div class="search-container">
    <select>
        <option class="all-cate">Все категории</option>
        @foreach (var item in Model)
        {
            <option class="cate-item-title">@item.CategoriName</option>
        }
    </select>
</div>